<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>뷔보다잘생긴김용현이만든페이지</title>

    <!--브라우저 스타일 초기화-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- ICON -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <section class="visual">
      <header>
        <div class="logo">(주) 드림종합건설</div>
        <!-- <span class="material-symbols-outlined"> menu </span> -->
        외모 세계 서열 1위인<br />
        뷔보다 잘생긴 김용현<br />
        우와 대박<br />
        멋지다 김용현~ 브라보 ~
        <ul>
          <li>
            <a href="/signin">Sign In</a>
          </li>
          <li>
            <a href="javascript:void(0)">My Starbucks</a>
          </li>
          <li>
            <a href="javascript:void(0)">Customer Service & Ideas</a>
          </li>
          <li>
            <a href="javascript:void(0)">Find a Store</a>
          </li>
        </ul>
        <img
          class="material-symbols-outlined"
          src="../icons/icon_menu.svg"
          alt="메뉴 아이콘"
        />
      </header>
    </section>
  </body>
</html>
